<?php
namespace Air\Config\Config;

class Redis extends \Phplib\Config {

	public function __construct() {
		$this->servers = array(
			array('host' => '{{REDIS_HOST}}', 'port' => '{{REDIS_PORT}}')
		);
	}
}
