<?php
define('ENV', '{{ENV}}');
define('SHORT_URL', '{{SHORT_URL}}');
define('CRM_DOMAIN', '{{CRM_BASE_URL}}');
define('DOCTOR_CRM_DOMAIN', '{{DOCTOR_CRM_BASE_URL}}');
define('IMG_DOMAIN', 'http://img.airdoc.com/');
define('EYE_DOMAIN', '{{EYE_BASE_URL}}');
define('LOGIN_LIMIT', 6);
define('MODEL_SERVICE', '{{MODEL_SERVICE}}');
define('EYE_PRICE1', 40);//单位元
define('EYE_PRICE2', 26);//单位元
define('AIRDOC_PRICE1', 22);//单位元
define('AIRDOC_PRICE2', 8);//单位元
define('HUAIBEI_URL', 'http://220.179.175.219:8081/index.php?g=Huaikuang&m=Huaikuang&a=noticeAirDoc'); // 淮北接口url
define('HUAIBEI_KEY', '7d65d8874544ed12'); // 淮北key
define('EMAIL_HOST', 'smtp.exmail.qq.com');
define('EMAIL_USER_NAME', 'delivery_mail@airdoc.com');
define('EMAIL_PASSWORD', 'Delivery@20171206');
define('GUOTONG_POST_URL', 'http://api.gtshmed.com/caseadmin/caseInfo');
define('GUOTONG_APPID', '8a216da85bd184ce015be65fa7010769');
define('GUOTONG_APP_SECREPT', '374ca3244d5bc85359cdba5552f164a8');
define('CRYPT_KEY', '{{CRY_KEY}}');
define('PA_CRYPT_KEY', '{{PA_CRY_KEY}}');
define('WX_APPID', '{{WX_APPID}}');
define('WX_SECRET', '{{WX_SECRET}}');
define('WX_REPORT_TEPLETE_ID', '{{WX_REPORT_TEPLETE_ID}}');
define('WX_REF_SUCCESS_TEMPLATE_ID', '{{WX_REF_SUCCESS_TEMPLATE_ID}}');
define('WX_QRCODE_URL', '{{WX_QRCODE_URL}}');
define('WX_DOCTOR_APPID', '{{WX_DOCTOR_APPID}}');
define('WX_DOCTOR_SECRET', '{{WX_DOCTOR_SECRET}}');
define('WX_ENREGISTER_SUCCESS_TEMPLATE_ID', '{{WX_ENREGISTER_SUCCESS_TEMPLATE_ID}}');
define('WX_DOWNLOAD_APP_TEPLETE_ID', '{{WX_DOWNLOAD_APP_TEPLETE_ID}}');
define('JIAYI_SEND_REPORT_URL', '{{JIAYI_SEND_REPORT_URL}}');
